### Build ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.mvn/wrapper/maven-wrapper.properties
# DO NOT ignore maven-wrapper.jar

### Logs ###
*.log
*.pid

### OS ###
.DS_Store
Thumbs.db

### Secrets ###
.env
application-local.properties

### Docker ###
docker-compose.yml
docker-compose.*.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
